<section class="edit-note">
    <h2 ng-if="!$ctrl.form.id">New Entry</h2>
    <h2 ng-if="$ctrl.form.id">Edit Entry</h2>
    <form role="form" ng-submit="$ctrl.saveEntry()">
        <div class="row">
            <input ng-model="$ctrl.form.title" type="text" class="form-control col-xs-12" placeholder="Title" required>
        </div>
        <div class="row">

            <textarea class="col-md-6" placeholder="Content" ng-keyup="contentUpdated()" ng-model="$ctrl.form.body" elastic required></textarea>

            <div class="col-md-6 preview markdown" ng-bind-html="$ctrl.form.body | markdownToHtml | autolinker"></div>

        </div>
        <div>
            <select class="form-control" ng-options="o.id as o.name for o in $ctrl.statuses" ng-model="$ctrl.form.status">
            </select>
        </div>
        <div class="row tags">

            <div class="added-tag" ng-repeat="tag in $ctrl.tags.selected">
                {{ tag }}
                <i class="icon glyphicon glyphicon-remove" ng-click="$ctrl.cancelTag(tag)"></i>
            </div>

            <input type="text" class="form-control input-sm name" ng-model="$ctrl.tags.newTag" placeholder="Select tag" typeahead="option for option in $ctrl.tags.saved | filter:$viewValue | limitTo:8" typeahead-on-select="$ctrl.typeaheadSelected()" />
            <a href="#/tags/new">add new</a>

        </div>
        <button type="submit" class="btn">Save</button>
    </form>
</section>
<ast-tree-preview data="$ctrl.form.body"></ast-tree-preview>
