<section class="search">

    <form ng-submit="form.search()">

        <input focus-me="form.inputFocused" type="text" class="form-control" ng-model="form.input">

        <button type="submit" class="btn btn-primary">
            GO
            <span class="glyphicon glyphicon-screenshot"></span>
        </button>

        <button class="settings-switcher" ng-click="settingsVisible = !settingsVisible">
            <span class="glyphicon glyphicon-search"></span>
        </button>

        <div class="settings" ng-show="settingsVisible">
            <label>search by:</label>
            <select class="form-control" ng-options="o as o for o in searchByOptions" ng-model="form.searchBy"></select>
            <hr>
            <label>show by status:</label>
            <ul>
                <li><a href="#/search?status=0">drafts</a></li>
                <li><a href="#/search?status=8">deleted</a></li>
            </ul>
        </div>
    </form>

    <dl ng-repeat="result in results" class="result-item">
        <dt class="title">
            •
            <a href="#/posts/{{ result.id }}">{{ result.title }}</a>
        </dt>
        <dd class="body markdown" ng-bind-html="result.body | limitTo:200 | markdownToHtml | autolinker"></dd>
        <footer class="text-lowercase">
            <span class="important" title="importance">
                ({{ result.important }})
                <a ng-click="updateImportance(result.id, result.important + 1)">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </a>
                <a ng-click="updateImportance(result.id, result.important -1)">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </a>
            </span>
            <span class="created date">{{ result.created | limitTo:10 }}</span>
            &nbsp;&nbsp;
            <span class="glyphicon glyphicon-tags"></span>
            &nbsp;
            <span ng-repeat="tag in result.tags" class="tag">
                <a href="#/search?tag={{ tag.name }}" >{{ tag.name }}</a>
            </span>
        </footer>
    </dl>
</section>
