<section class="search">
    <form ng-submit="form.search()">
        <div layout="row" layout-align="center center" class="main-section">

            <md-menu md-offset="10 10">

                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                    <ng-md-icon md-menu-origin icon="more_vert"></ng-md-icon>
                </md-button>

                <md-menu-content width="6" layout="row">
                    <md-menu-item>
                        <md-select placeholder="Search By" ng-model="form.searchBy">
                            <md-option ng-repeat="option in searchByOptions" value="{{ option }}">{{ option }}</md-option>
                        </md-select>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button href="#/search?status=0">drafts</md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button href="#/search?status=8">deleted</md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>

            <md-input-container>
                <label>Search term</label>
                <input focus-me="form.inputFocused"
                        class="form-control"
                        ng-model="form.input">
            </md-input-container>

            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                <ng-md-icon md-menu-origin icon="search"></ng-md-icon>
            </md-button>



        </div>
        <div layout="row" layout-align="center center" class="helpers">
            <md-button class="md-raised md-primary" type="submit">
                search
            </md-button>
        </div>
    </form>
    <dl ng-repeat="result in results" class="result-item">
        <dt class="title">
            • <a href="#/posts/{{ result.id }}">{{ result.title }}</a>
        </dt>
        <dd class="body markdown" ng-bind-html="result.body | limitTo:200 | markdownToHtml | autolinker"></dd>
        <footer class="text-lowercase">
            {{ result.created | limitTo:10 }}
            <span class="glyphicon glyphicon-tags"></span>&nbsp;
            <span ng-repeat="tag in result.tags" class="tag">
                <a href="#/search?tag={{ tag.name }}" >{{ tag.name }}</a>
            </span>
        </footer>
    </dl>
</section>
