
# project related
ngminned
node_modules
bower_components
.data/*
!.data/.gitkeep

# Sublime Text files
*.sublime-*

bootstrap-less

client/app/static/vendors/css

client/app/static/favicon.ico

vendors.js

compiled.js

app.css

# this contains local app configuration
config/app.json

# this contains prod configuration
config/app.prod.json

*~
