.new-note {

    form {

        .row {

            margin: 10px 0;

            textarea.col-xs-6 {
                width: 50%;
            }

            .preview {
                background-color: #999;
            }
        }
    }
}
