<section class="new-view">
    <h2>
        {{ note.title }}
        [<a href="#/posts/{{ note.id }}/edit">edit</a>]
    </h2>
    <small>created: {{ note.created }}</small>
    <small>updated: {{ note.updated }}</small>
    <div class="preview markdown" ng-bind-html="note.body | markdownToHtml | autolinker"></div>
    <div>
        <span>tags:</span>
        <span ng-repeat="tag in note.tags">
            <a href="#/search?tag={{ tag.name }}" >{{ tag.name }}</a>
        </span>
    </div>
</section>
