<section class="search">
    <form class="row" ng-submit="form.search()">
        <div class="col-xs-4 col-xs-offset-1">
            <input type="text" class="form-control" ng-model="form.input">
        </div>
        <div class="col-xs-2">
            <select class="form-control" ng-options="o as o for o in searchByOptions" ng-model="form.searchBy">
            </select>
        </div>
        <div class="col-xs-2">
            <button type="submit" class="btn btn-primary">GO</button>
        </div>
    </form>
    <h2>
        Search Results:
    </h2>
    <article ng-repeat="result in results" class="result-item">
        <h3 class="header">
            <a href="#/posts/{{ result.id }}">{{ result.title }}</a>
        </h3>
        <div class="body">{{ result.body | limitTo:200 }}</div>
        <footer>
            {{ result.created | limitTo:10 }}
            <span>tags:</span>
            <span ng-repeat="tag in result.tags">
                <a href="#/search?tag={{ tag.name }}" >{{ tag.name }}</a>
            </span>
        </footer>
    </article>
</section>
