<section class="search">
    <form class="row" ng-submit="form.search()">
        <div class="col-xs-4 col-xs-offset-1">
            <input type="text" class="form-control" ng-model="form.input">
        </div>
        <div class="col-xs-2">
            <select class="form-control" ng-options="o as o for o in searchByOptions" ng-model="form.searchBy">
            </select>
        </div>
        <div class="col-xs-2">
            <button type="submit" class="btn btn-primary">GO</button>
        </div>
        <div class="col-xs-3">
            <a href="#/search?status=0" class="pull-right">drafts</a>
            <br>
            <a href="#/search?status=8" class="pull-right">deleted</a>
        </div>
    </form>
    <h2 class="text-center">
        Found Results:
    </h2>
    <dl ng-repeat="result in results" class="result-item">
        <dt class="title">
            • <a href="#/posts/{{ result.id }}">{{ result.title }}</a>
        </dt>
        <dd class="body" ng-bind-html="result.body | limitTo:200 | markdownToHtml | autolinker"></dd>
        <footer class="text-lowercase">
            {{ result.created | limitTo:10 }}
            <span>tags:</span>
            <span ng-repeat="tag in result.tags" class="tag">
                <a href="#/search?tag={{ tag.name }}" >{{ tag.name }}</a>
            </span>
        </footer>
    </dl>
</section>
