

body {
  background-color: silver;
}

.new-note form .row {
  margin: 10px 0;
}

.new-note form .row textarea.col-xs-6 {
  width: 50%;
  height: 180px;
  max-width: 50%;
}

.new-note form .preview {
  background-color: #999;
}

.new-note form .tags .added-tag {
  float: left;
  padding: 5px 10px;
  margin: 2px 5px;
  background-color: #fd0;
  border-radius: 5px;
}

.new-note form .tags .added-tag input {
  width: 200px;
}

.new-note form .tags .added-tag i {
  position: relative;
  top: 3px;
  right: 1px;
  cursor: pointer;
}