{
    "port": 9000,
    "db": {
        "host": "localhost",
        "user": "user",
        "password": "password",
        "database": "database"
    },
    "basicAuth": {
        "user": "user",
        "password": "password"
    }
}
