{
    "port": 9000,
    "db": {
        "host": "localhost",
        "user": "user",
        "password": "password",
        "database": "database"
    },
    "session": {
        "secret": "alamakota"
    }
}
