.search-details-button {
    position: relative;
    bottom: 2px;
}
.search-items {
    position: fixed;
    top: 50px;
    height: 80%;
    width: 600px;
    max-width: ~"calc(100% - 80px)";
    background-color: #fff;
    z-index: 5;
    overflow-y: auto;
}
