<section class="edit-note" *ngIf="note">
    <md-card>
        <md-card-title *ngIf="!note.id">New Entry</md-card-title>
        <md-card-title *ngIf="note.id">Edit Entry</md-card-title>
        <form (ngSubmit)="saveNote()" #noteForm="ngForm">
            <div>
                <md-input [(ngModel)]="note.title"
                    name="title"
                    placeholder="Title"
                    type="text"
                    required>
                </md-input>
            </div>

            <md-card-content>
                <div>
                    <md-textarea [(ngModel)]="note.body"
                        name="body"
                        class="textarea-body"
                        placeholder="Body"
                        autosize
                        required>
                    </md-textarea>
                </div>
            </md-card-content>

            <div>
                status:
                <select [(ngModel)]="note.status" name="status">
                    <option [value]="status" *ngFor="let status of statusesKeys">{{ statuses[status] }}</option>
                </select>
            </div>

            <div>
                <md-input [(ngModel)]="tagsFilter" name="tagsFilter" placeholder="filter tags"></md-input>
                <ul class="tags-list">
                    <li *ngFor="let tag of tags"
                        [hidden]="tagsFilter && !tag.name.includes(tagsFilter)">
                        <md-checkbox [checked]="selectedTags.has(tag.id)"
                            color="primary"
                            (change)="tagChecked($event, tag.id)">
                            {{ tag.name }}
                        </md-checkbox>
                    </li>
                    <li>
                        <a [routerLink]="['/tags']">Add New</a>
                    </li>
                </ul>
            </div>
            <md-card-actions>
                <button type="submit" md-raised-button color="primary">Save</button>
                <a md-button *ngIf="note.id" [routerLink]="['/note', note.id]">View</a>
            </md-card-actions>
        </form>
    </md-card>
</section>

<ast-tree [markdown]="note && note.body || ''"></ast-tree>
